/**
 * This file is a part of Scrap, an app for helping to migrate
 * from block-based programming into text-based programming languages.
 *
 * You should have received a copy of the MIT License, if not, please 
 * visit https://opensource.org/licenses/MIT. To verify the code, visit
 * the official repository at https://github.com/tomas-wrobel/scrap. 
 */
@use "@scrap/scss/vars" as *;

.paint {
	display: grid;
	margin-bottom: $gap;

	grid-template-areas:
		"costume color controls"
		"costume tools canvas";
	gap: 1.25rem 0.625rem;

	grid-template-columns: auto 2.5rem 1fr;
	grid-template-rows: 2.5rem 1fr;

	button {
		all: unset;
		padding: 0.375rem;
		font-size: 1rem;
		border-radius: 0.375rem;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		color: #777;

		&.selected {
			background-color: $primary;
			color: #fff;
		}

		&.shape-button > svg > * {
			transform: scale(0.9);
			transform-origin: center;
		}

		&.shape-button.outline {
			&:not(.selected) ~ span,
			&:not(.selected) ~ input[type="range"] {
				display: none;
			}

			> svg {
				stroke-width: 3px;
				stroke: currentColor !important;
				fill: none !important;
			}
		}
	}

	span {
		font-size: 0.875rem;
	}
}

.tools,
.controls {
	display: flex;
	gap: 0.625rem;
	font-size: 1.125rem;
}

.tools {
	flex-direction: column;
	grid-area: tools;
}

.controls {
	grid-area: controls;
	align-items: center;
	padding-top: 1.25rem;
	padding-right: 1.25rem;
}

.unit::after {
	content: "px";
}

div.canvas {
	grid-area: canvas;
	display: grid;
	align-content: center;
	justify-content: center;
	background: #0001;
	position: relative;
	overflow: auto;

	> canvas:first-child {
		background-image: url("@scrap/assets/svgs/checkboard.svg");
	}

	> canvas {
		grid-area: 1 / 1;
	}
}

.color {
	grid-area: color;
	margin: 0.625rem 0;
	height: 100%;
	width: 100%;
	background: transparent;
	border-radius: 0.375rem;

	transform: scale(0.9);
	transform-origin: center;
}

div.color {
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0.1);
	pointer-events: none;
}

input.color {
	opacity: 0;

	&:focus + div.color {
		outline: 3px solid rgba($color: $primary, $alpha: 0.75);
	}
}
