@import "../globals";

.media-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
    background: $background;

    +.fab {
        margin-bottom: 10px;
    }
}

.media-element {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.15);

    >img {
        display: block;
        margin: auto;
        height: 60px;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .name {
        font-size: 12px;
        border-radius: 0 0 4px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .remove {
        display: none;
    }

    &.selected {
        border-color: $primary;
        background-color: #FFF;
        color: #FFF;
        position: relative;

        .name {
            background-color: $primary;
        }

        &:not(:only-child) .remove {
            display: block;
            position: absolute;
            background: #2fbf71;
            padding: 3px 7px;
            border-radius: 50%;
            top: -0.5em;
            right: -0.5em;
            user-select: none;
            cursor: pointer;
        }
    }
}