<!--
	This file is a part of Scrap Native, an app for helping to migrate
	from block-based programming into text-based programming languages.
	You should have received a copy of the MIT License, if not, please
	visit https://opensource.org/licenses/MIT. To verify the code, visit
	the official repository at https://github.com/tomas-wrobel/scrap.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrap Output</title>
    <link rel="stylesheet" href="style.scss">
</head>
<body>
</body>
</html>