@import "../globals";

#tabs {
    grid-area: tabs;
    display: flex;
    align-items: end;

    button {
        all: unset;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px 16px 0 0;
        padding: 1px 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        margin-right: -12px;
    }

    button:not(.selected) {
        background-color: #d9e3f2;
        color: hsla(225, 15%, 40%, 0.75);
        height: 70%;
        z-index: 1;

        &:hover {
            background-color: #e5f0ff;
        }
    }

    button.selected {
        height: 80%;
        z-index: 2;
        color: $primary;
        background-color: #fff;
    }
}

#buttons {
    grid-area: buttons;
    display: flex;
    gap: $gap;
    align-items: center;

    >a {
        display: inline-flex;
        justify-content: center;
        align-content: center;

        padding: 5px 7px;
        border-radius: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}