@import "../globals";

.sprites {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    gap: 4px;
    overflow-y: auto;
    align-content: baseline;
}

.stage {
    >img {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        width: 90%;
        aspect-ratio: 480 / 360;
        margin: auto;
        display: block;
        margin-top: 1em;
    }
}