@import "../theme";

.paint {
	display: grid;

	grid-template-areas:
		"costume . controls"
		"costume tools canvas";
	gap: 20px;

	grid-template-columns: auto 40px 1fr;
	grid-template-rows: 40px 1fr;

	button {
		all: unset;
		padding: 6px;
		font-size: 16px;
		border-radius: 5px;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		color: #575e75;

		&.selected {
			background-color: $primary;
			color: white;

			svg,
			img {
				filter: brightness(0) invert(100%);
			}
		}
	}
}

.tools,
.controls {
	display: flex;
	gap: 10px;
	font-size: 18px;
}

.tools {
	flex-direction: column;
	grid-area: tools;
}

.controls {
	grid-area: controls;
	align-items: center;
	padding-top: 20px;
	padding-right: 20px;
}

.canvas {
	grid-area: canvas;
	display: grid;
	align-content: center;
	justify-content: center;
	background: #d3d3d3;
	overflow: auto;

	canvas {
		&:first-child {
			background-image: url(checkboard.svg);
		}
		grid-area: 1 / 1;
	}
}

input[type="color"] {
	margin: 10px 0;
	height: 100%;
	width: 100%;
	background: transparent;
	border-radius: 6px;
}
