@import "../globals";
$modes: (
	turbo,
	paced
);

@each $mode in $modes {
	##{$mode}>.checkmark {
		visibility: hidden;
	}

	iframe[data-mode="#{$mode}"]+ul ##{$mode}>.checkmark {
		visibility: visible;
	}
}

* {
	box-sizing: border-box;
}

.tab-content {
	grid-area: tab-content;
	margin-right: $gap;
	font-size: 16px;
	tab-size: 4;
}

iframe {
	grid-area: output;
	border: 0;
	margin-bottom: $gap;
}

#root>ul {
	grid-area: nav;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 15px;
	background-color: $primary;
	margin-right: $gap * -1;

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: $primary;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.dropdown-content>* {
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	.dropdown:hover .dropdown-content {
		display: block;
		z-index: 20000;
	}
}

#root>ul>li {
	float: left;

	>a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;

		&:not(:empty):hover {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:empty {
			background-image: url("./scrap.png");
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center;

			&::after {
				content: "SCRAP";
				opacity: 0;
			}
		}
	}
}

.name {
	all: unset;

	&.error {
		color: red;
	}
}

.stage {
	grid-area: stage;
	margin-bottom: $gap;
	margin-left: $gap;

	&.selected {
		border: 2px solid $primary;

		>.name {
			background: $primary;
			color: #fff;
		}
	}
}

#load,
#sb3 {
	display: none;
}

.sprites,
iframe,
.stage,
.tab-content {
	border-radius: 5px;
	background: #fff;
}

.sprites {
	grid-area: sprites;
	margin-bottom: $gap;
}

label.file {
	border: 1px dashed rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	cursor: pointer;
	height: 75px;
	width: 75px;

	font-size: 60px;
	line-height: 75px;
	text-align: center;

	>input {
		display: none;
	}

	&::before {
		content: "+";
	}
}

.name {
	display: block;
	text-align: center;
	padding: 5px;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#root {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas:
		"nav nav nav"
		"tabs buttons buttons"
		"tab-content output output"
		"tab-content sprites stage";
	grid-template-columns: 1fr 380px 100px;
	grid-template-rows: auto 40px auto 1fr;
	background: $background;
	padding-right: $gap;
}

.fab {
	align-self: end;
	justify-self: center;
	background: $primary;
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#add {
	grid-area: sprites;
	margin-right: 20px;
	margin-bottom: 20px;
	justify-self: end;
}

body[data-loading]::after {
	content: attr(data-loading);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	z-index: 10000;
	width: 100%;
	height: 100%;
}

.prism-code-editor {
	max-height: 100%;
}