footer {
	background: #f8fafc;
	color: #64748b;
	padding: 2rem 0 1rem 0;
	text-align: center;
	font-size: 1rem;
	a {
		color: #199950;
		text-decoration: underline;
		transition: color 0.2s;
		&:hover {
			color: #1e293b;
		}
	}
}
